<app-breadcrumb [title]="'Shipping'" [breadcrumb]="'Shipping'"></app-breadcrumb>
<!--section start-->

<!--Section ends-->

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div
                    style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;border:none;border-bottom:groove black 2.25pt;padding:0cm 0cm 0cm 0cm;background:white;'>
                    <p
                        style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;line-height:15.0pt;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;background:white;border:none;padding:0cm;'>
                        <strong><span style='font-size:18px;font-family:"Arial",sans-serif;color:black;'>REPLACEMENT
                                POLICY</span></strong></p>
                </div>
                <p
                    style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;background:white;'>
                    <span style='font-size:14px;font-family:"Arial",sans-serif;color:#3E3636;'>TVB2B will accept
                        replacement of products within <strong>3 days</strong> from date of receipt; only in case there
                        is a significant difference in the products ordered from the product supplied (wrong colour,
                        size related issues, quality issues or product is damaged) and where the Product and the
                        Packaging is in its original condition (should be unused, unaltered, unsoiled).&nbsp;</span></p>
                <p
                    style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;background:white;'>
                    <span style='font-size:14px;font-family:"Arial",sans-serif;color:#3E3636;'>TVB2B however cannot
                        accept the replacement in case:</span></p>
                <ul style="margin-bottom:0cm;" type="disc">
                    <li
                        style='margin-top:0cm;margin-right:0cm;margin-bottom:     6.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;color:#3E3636;text-align:justify;background:white;'>
                        <span style='font-size:14px;font-family:"Arial",sans-serif;'>The product has been used or
                            altered</span></li>
                    <li
                        style='margin-top:0cm;margin-right:0cm;margin-bottom:     6.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;color:#3E3636;text-align:justify;background:white;'>
                        <span style='font-size:14px;font-family:"Arial",sans-serif;'>There is any physical damage to the
                            product.&nbsp;</span></li>
                </ul>
                <p
                    style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;background:white;'>
                    <span style='font-size:14px;font-family:"Arial",sans-serif;color:#3E3636;'>To replace a product,
                        please raise a replacement request via email at&nbsp;</span><a
                        href="mailto:replacements@texvalleyb2b.in"><span
                            style='font-size:14px;font-family:"Arial",sans-serif;'>replacements@texvalleyb2b.in</span></a><span
                        style='font-size:14px;font-family:"Arial",sans-serif;color:#3E3636;'>&nbsp;by providing the
                        following details:</span></p>
                <ul style="margin-bottom:0cm;" type="disc">
                    <li
                        style='margin-top:0cm;margin-right:0cm;margin-bottom:     6.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;color:#3E3636;text-align:justify;background:white;'>
                        <span style='font-size:14px;font-family:"Arial",sans-serif;'>Order ID</span></li>
                    <li
                        style='margin-top:0cm;margin-right:0cm;margin-bottom:     6.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;color:#3E3636;text-align:justify;background:white;'>
                        <span style='font-size:14px;font-family:"Arial",sans-serif;'>Images clearly demonstrating the
                            problem/ issue</span></li>
                </ul>
                <p
                    style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;background:white;'>
                    <span style='font-size:14px;font-family:"Arial",sans-serif;color:#3E3636;'>Post receiving your
                        request Customer Support will confirm the return request and will inform you about the pickup
                        process. Please ensure that product is in unused and original condition, include all labels,
                        original packing and invoice along with the product. TVB2B shall not be responsible for any
                        items sent to us for replacement without our confirmation.</span></p>
                <div
                    style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;border:none;border-bottom:groove black 2.25pt;padding:0cm 0cm 0cm 0cm;background:white;'>
                    <p
                        style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;line-height:15.0pt;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;background:white;border:none;padding:0cm;'>
                        <strong><span
                                style='font-size:18px;font-family:"Arial",sans-serif;color:black;'>&nbsp;</span></strong>
                    </p>
                    <p
                        style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;line-height:15.0pt;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;background:white;border:none;padding:0cm;'>
                        <strong><span style='font-size:18px;font-family:"Arial",sans-serif;color:black;'>COST OF
                                REPLACEMENT:</span></strong></p>
                </div>
                <ul style="list-style-type: disc;">
                    <li><span style='font-family:"Arial",sans-serif;'>TVB2B will bear the cost of replacement of the
                            product provided the replacement request has been accepted by TVB2B.</span></li>
                    <li><span style='font-family:"Arial",sans-serif;'>TVB2B shall not be responsible for any items sent
                            to us for replacement without our confirmation and will not bearing the cost for such
                            cases.</span></li>
                </ul>
                <p
                    style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;background:white;'>
                    <span style='font-size:14px;font-family:"Arial",sans-serif;color:#3E3636;'>&nbsp;</span></p>
            </div>
        </div>
    </div>
</section>