<app-breadcrumb [title]="'Seller'" [breadcrumb]="'Seller'"></app-breadcrumb>
<!--section start-->
<!-- <section class="blog-detail-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 blog-detail">
                <img src="assets/images/about-main.jpg" class="img-fluid" alt=""/>
                <h3>Also the leap into electronic typesetting, remaining  essentially unchanged.</h3>
                <ul class="post-social">
                    <li>25 January 2018  </li>
                    <li>Posted By : Admin Admin </li>
                    <li><i class="fa fa-heart"></i>  5 Hits  </li>
                    <li><i class="fa fa-comments"></i> 10  Comment</li>
                </ul>
                <p>Fusce scelerisque augue a viverra semper. Etiam nisi nibh, vestibulum quis augue id, imperdiet fringilla dolor. Nulla sed nisl vel nisi cursus finibus. Vivamus ut augue nec justo viverra laoreet. Nunc efficitur, arcu ac cursus gravida, lorem elit commodo urna, id viverra libero tellus non ipsum. Fusce molestie ultrices nibh feugiat pretium. Donec pulvinar arcu metus, et dapibus odio condimentum id. Quisque malesuada mauris sit amet dui feugiat, ut pretium mauris luctus. Ut aliquam, tellus nec molestie condimentum, tellus arcu dignissim quam, a gravida nunc nulla vel magna. Sed pulvinar tortor et euismod blandit. Proin accumsan orci ac nunc fermentum vehicula.</p>
                <p>Cras quis neque urna. Pellentesque mollis, dui nec elementum elementum, ipsum quam suscipit ligula, sit amet lobortis dolor sem sed neque. Vivamus consequat est non sodales efficitur. Aliquam sodales eleifend sodales. Aliquam auctor ipsum quis nisl facilisis, at convallis mauris iaculis. Duis eleifend, magna ac convallis blandit, dui dui auctor leo, sed tincidunt nisi mauris ut nulla. Praesent porttitor dui ac turpis commodo porttitor. Integer ligula nisi, bibendum non sem at, porta condimentum dui.</p>
                <p>Proin id eleifend diam, euismod dictum nibh. Ut ullamcorper in purus at tempor. Nullam mattis risus nec velit semper lobortis. Donec accumsan ligula fermentum, ultricies massa eget, cursus leo. Suspendisse placerat elit et lacus aliquam, ut elementum leo aliquet. Integer ornare, ipsum eu lacinia viverra, lectus ipsum scelerisque nisl, nec iaculis leo elit id arcu. Aliquam id ante elit. Donec commodo purus eget lacus pharetra, et egestas metus blandit. Quisque pellentesque porta urna, sed dictum enim viverra a.</p>
            </div>
        </div>
        <div class="row section-b-space blog-advance">
            <div class="col-lg-6">
                <img src="assets/images/blog/1.jpg" class="img-fluid" alt="" />
            </div>
            <div class="col-lg-6">
                <img src="assets/images/blog/2.jpg" class="img-fluid" alt="" />
            </div>
            <div class="col-lg-6">
                <ul>
                    <li> Donec ut metus sit amet elit consectetur facilisis id vel turpis.</li>
                    <li> Aenean in mi eu elit mollis tincidunt.</li>
                    <li> Etiam blandit metus vitae purus lacinia ultricies.</li>
                    <li> Nunc quis nulla sagittis, faucibus neque a, tempus metus.</li>
                    <li> In scelerisque libero ut mi ornare, a porttitor neque pulvinar.</li>
                    <li> Morbi molestie lacus blandit interdum sodales.</li>
                    <li> Curabitur eleifend velit molestie eleifend interdum.</li>
                    <li> Vestibulum fringilla tortor et lorem sagittis,</li>
                    <li> In scelerisque libero ut mi ornare, a porttitor neque pulvinar.</li>
                    <li> Morbi molestie lacus blandit interdum sodales.</li>
                    <li> Curabitur eleifend velit molestie eleifend interdum.</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <p>Nulla quam turpis, commodo et placerat eu, mollis ut odio. Donec pellentesque egestas consequat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc at urna dolor. Mauris odio nisi, rhoncus ac justo eget, lacinia iaculis lectus. Pellentesque id dapibus justo. Nunc venenatis non odio sed luctus. Etiam sit amet elit massa.</p>

                <p>Phasellus quis lorem eros. Aliquam non tincidunt nibh. Nulla quis interdum neque. Mauris volutpat neque eu nunc ornare ullamcorper. Sed neque velit, lobortis eget tellus in, pellentesque ornare nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas rutrum nisi non nibh egestas lacinia. Cras ut tellus sit amet lacus consequat dictum nec id sapien. Ut pellentesque ac ex ut elementum. Morbi mollis volutpat neque eu volutpat.</p>

                <p>Donec rhoncus massa quis nibh imperdiet dictum. Vestibulum id est sit amet felis fringilla bibendum at at leo. Proin molestie ac nisi eu laoreet. Integer faucibus enim nec ullamcorper tempor. Aenean nec felis dui. Integer tristique odio mi, in volutpat metus posuere eu. Aenean suscipit ipsum nunc, id volutpat lorem hendrerit ac. Sed id elit quam. In ac mauris arcu. Praesent eget lectus sit amet diam vestibulum varius. Suspendisse dignissim mattis leo, nec facilisis erat tempor quis. Vestibulum eu vestibulum ex. Maecenas luctus orci sed blandit fermentum. In vulputate eu metus a faucibus. Suspendisse feugiat condimentum congue.</p>
            </div>
        </div>
        <div class="row section-b-space">
            <div class="col-sm-12">
                <ul class="comment-section">
                    <li>
                        <div class="media">
                            <img src="assets/images/review/1.jpg" alt="Generic placeholder image">
                            <div class="media-body">
                                <h6>Mark Jecno  <span>( 12 Jannuary 2018 at 1:30AM )</span></h6>
                                <p>Donec rhoncus massa quis nibh imperdiet dictum. Vestibulum id est sit amet felis fringilla bibendum at at leo. Proin molestie ac nisi eu laoreet. Integer faucibus enim nec ullamcorper tempor. Aenean nec felis dui. Integer tristique odio mi, in volutpat metus posuere eu. Aenean suscipit ipsum nunc, id volutpat lorem hendrerit ac. Sed id elit quam. In ac mauris arcu. Praesent eget lectus sit amet diam vestibulum varius. Suspendisse dignissim mattis leo, nec facilisis erat tempor quis. Vestibulum eu vestibulum ex. </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <img src="assets/images/review/2.jpg" alt="Generic placeholder image">
                            <div class="media-body">
                                <h6>Mark Jecno  <span>( 12 Jannuary 2018 at 1:30AM )</span></h6>
                                <p>Donec rhoncus massa quis nibh imperdiet dictum. Vestibulum id est sit amet felis fringilla bibendum at at leo. Proin molestie ac nisi eu laoreet. Integer faucibus enim nec ullamcorper tempor. Aenean nec felis dui. Integer tristique odio mi, in volutpat metus posuere eu. Aenean suscipit ipsum nunc, id volutpat lorem hendrerit ac. Sed id elit quam. In ac mauris arcu. Praesent eget lectus sit amet diam vestibulum varius. Suspendisse dignissim mattis leo, nec facilisis erat tempor quis. Vestibulum eu vestibulum ex. </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <img src="assets/images/review/1.jpg" alt="Generic placeholder image">
                            <div class="media-body">
                                <h6>Mark Jecno  <span>( 12 Jannuary 2018 at 1:30AM )</span></h6>
                                <p>Donec rhoncus massa quis nibh imperdiet dictum. Vestibulum id est sit amet felis fringilla bibendum at at leo. Proin molestie ac nisi eu laoreet. Integer faucibus enim nec ullamcorper tempor. Aenean nec felis dui. Integer tristique odio mi, in volutpat metus posuere eu. Aenean suscipit ipsum nunc, id volutpat lorem hendrerit ac. Sed id elit quam. In ac mauris arcu. Praesent eget lectus sit amet diam vestibulum varius. Suspendisse dignissim mattis leo, nec facilisis erat tempor quis. Vestibulum eu vestibulum ex. </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row blog-contact">
            <div class="col-sm-12">
                <h2>Leave Your Comment</h2>
                <form class="theme-form">
                    <div class="form-row">
                        <div class="col-md-12">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter Your name" required="">
                        </div>
                        <div class="col-md-12">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" placeholder="Email" required="">
                        </div>
                        <div class="col-md-12">
                            <label for="exampleFormControlTextarea1">Comment</label>
                            <textarea class="form-control" placeholder="Write Your Comment" id="exampleFormControlTextarea1" rows="6"></textarea>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-solid" type="submit">Post Comment</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section> -->
<!--Section ends-->

<section class="about-page ">
    <div style="text-align: center;"><h2>STAY AHEAD OF YOUR COMPETITION</h2></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="animated flipInX" data-animation="flipInX" style="opacity: 1;">
                    <img style="width: 100%;" src="https://texvalleyb2b.in/img/seller.png" alt="image description">
                </div>
            </div>
            <div class="one-half animated fadeInRight col-lg-6" data-animation="fadeInRight" style="opacity: 1;">
                <div class="section-title"><br>
                    <h2 class="heading-extra-big">UNLOCK YOUR REACH AND COVERAGE BANDWIDTH</h2>
    
                </div>
    
                <p style="text-align: justify;">You are perhaps beginning to realize that your conventional approach to
                    marketing is comparing poorly with your competitors who use the power of technologies to get more
                    customers. Texvalley B2B's technology is primed to help you grow your business exponentially through
                    greater market reach and coverage.</p>
                <p style="text-align: justify;">In current times, the statement “ staying connected” means both “ Physically
                    and Virtually” . With the launch of its B2B services, Texvalley has established a “Digital Bridge” for
                    every customers of ours to pay us a “Virtual Visit ” any time of the day all round the year. At the
                    touch of a button, you will get to view thousand’s of products in astounding varieties and price point
                    with new updates streaming every hour of the day.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="about-page ">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="animated flipInX" data-animation="flipInX" style="opacity: 1;">
                    <img style="width: 100%;" src="https://texvalleyb2b.in/img/buyer.png" alt="image description">
                </div>
            </div>
            <div class="one-half animated fadeInRight col-lg-6" data-animation="fadeInRight" style="opacity: 1;">
                <div class="section-title"><br>
                    <h2 class="heading-extra-big">THE 7 REALITIES THAT CHALLENGE EVERY SME</h2>
    
                </div>
    
                <p style="text-align: justify;">These are the 7 realities you are often faced with while building your markets. These 7 realities would seem insurmountable and may even break your back at times, as the process of finding a share in the market can be painfully slow and ridden with risks that can wipe your hard earned money in the blink of an eye. Find out how Texvalley B2B with the power of technology, makes it possible for you to overcome these 7 challenges that come in the way of competing on an equal footing in the market place</p>
                
            </div>
        </div>
    </div>
</section>

<section class="faq-section">
    <div>
        <h2 style="text-align: center;">OUR APPROACH FOCUSES ON OFFERING YOU A MARKET REACH AND COVERAGE THAT IS PAN INDIA</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ngb-accordion [closeOthers]="true" activeIds="static-1" class="accordion theme-accordion" id="accordionExample">
                    <ngb-panel id="static-1" title=" MARKET REACH THAT PROMISES NATIONAL & INTERNATIONAL PRESENCE">
                        <ng-template ngbPanelContent>
                            <p>In a matter of few years, Texvalley B2B will be able to reach your products to every nook and corner of the country and every town will be a reality soon</p>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-2" title="INSTANT CONNECT WITH NEW BUYERS, SAFE AND SECURE">
                        <ng-template ngbPanelContent>
                            <p>It is a plug and play Market Platform that will connect you in an instant with buyers checked for their integrity, reliability and business potential. In other words, there is neither any need for you to be circumspect nor spend time knowing about the buyer.</p>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-3" title="BUSINESS IN AN INSTANT">
                        <ng-template ngbPanelContent>
                            <p>The gestation period in securing the first order may not be longer than even a day. The online platform produces tremendous visibility to your products and are actively promoted. Number of potential buyers viewing your products will be many times more than what your business gets to experience now.</p>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-4" title="IT IS 24 X 7 ANYWHERE & ANYTIME">
                        <ng-template ngbPanelContent>
                            <p>Business is 24 x 7 hours. There is no stopping the enquiry and order generation process as the buyers have the liberty to place them any time of the day right through the year. This is strengthened further by the active promotion of our sales force on the field.</p>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-5" title="BE WHERE THE FOOT FALLS ARE">
                        <ng-template ngbPanelContent>
                            <p>Texvalley B2B maximizes the business opportunity by catering to the two prominent category of footfalls, the Virtual and the Physical kind. Texvalley B2B is uniquely placed in that regard with a world class trading centre that Texvalley is with a national network that is hard to beat. In combination of the fusion of virtual and the physical kind enhances the opportunity to maximize business multifold.</p>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-6" title="KEEPING YOU CONTEXTUALLY VISIBLE 24 X 7">
                        <ng-template ngbPanelContent>
                            <p>Promotion is critical to keep your brand visible every single day . Texvalley B2B is using the power of Technology such as "contextual" marketing which keeps you visible where it matters.</p>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-6" title="MAXIMIZE SEGMENT REACH">
                        <ng-template ngbPanelContent>
                            <p>Every segment offers an opportunity to help you grow your business. It helps you to balance your seasonal peaks and lows, maximize your unit value realization and more importantly bring a certain stability to your business</p>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </div>
        </div>
    </div>
</section>

<section class="container-center  section-b-space" style="padding: 4em;">
	
	<div class="section-title align-center">
		<h2>Design &amp; Style</h2><br>
		<h3 class="sub-heading">Make your Brand Stand Out by Being Original and styles you offer<br>We help you with that Process</h3>
	</div>		
	<div class="row">
		<div class="one-fourth animated fadeInUp col-sm-12 col-lg-3" data-animation="fadeInUp" style="opacity: 1;">
			<div class="step">
				<div class="step-icon">
					<i class="fa fa-cloud"></i>
				</div><!-- end step-icon -->

				<h4 class="heading-big">Market Intelligence</h4>

				<p>We share critical insights to help you to prepare for your new season </p>

			</div><!-- end step -->
		</div>

		<div class="one-fourth animated fadeInDown col-sm-12 col-lg-3" data-animation="fadeInDown" style="opacity: 1;">
			<div class="step">
				<div class="step-icon">
					<i class="fa fa-gears"></i>
				</div><!-- end step-icon -->

				<h4 class="heading-big">Product Development
				</h4>

				<p>We help you in building your design from paper to product </p>

			</div><!-- end step -->
		</div>

		<div class="one-fourth animated fadeInUp col-sm-12 col-lg-3" data-animation="fadeInUp" style="opacity: 1;">
			<div class="step">
				<div class="step-icon">
					<i class="fa fa-rocket"></i>
				</div><!-- end step-icon -->

				<h4 class="heading-big">Standards &amp; Quality</h4>

				<p>Product Standardization &amp; Quality is critcal to growth, We Offer technical assitance &amp; training to improve the standards</p>

			</div><!-- end step -->
		</div>

		<div class="one-fourth animated bounceIn col-sm-12 col-lg-3" data-animation="bounceIn" data-animation-delay="500" style="opacity: 1; animation-delay: 500ms;">
			<div class="step">
				<div class="step-icon">
					<i class="fa fa-lock"></i>
				</div><!-- end step-icon -->

				<h4 class="heading-big">Title &amp; Ownership</h4>

				<p>We offer critical service of safeguarding the designs &amp; Styles You develop with us</p>

			</div><!-- end step -->
		</div>
	</div><!-- end col-row -->
</section>

<section class="content count">
	<div class="container">
		<div class="row">
			<h2 style="margin: 0 auto;">Intensive Reach &amp; Coverage</h2>
		
		</div>

		<div class="row">

			<div class="one-fourth counter col-sm-12 col-lg-3">			
				<span class="timer" data-from="0" data-to="375" data-speed="3000">375</span>
				<div class="count-type">Markets</div><!-- end count-type -->
			</div>

			<div class="one-fourth counter col-sm-12 col-lg-3">
				<span class="timer" data-from="0" data-to="5625" data-speed="3000">5625</span>
				<div class="count-type">Happy Customers</div><!-- end count-type -->
			</div>

			<div class="one-fourth counter col-sm-12 col-lg-3">			
				<span class="timer" data-from="0" data-to="15" data-speed="3000">15</span>
				<div class="count-type">HQ Teams</div><!-- end count-type -->
			</div>

			<div class="one-fourth counter col-sm-12 col-lg-3">
				<span class="timer" data-from="0" data-to="15000" data-speed="3000">15000</span>
				<div class="count-type">KMs Distance Covered</div><!-- end count-type -->
			</div>

		</div><!-- end col-row -->
	</div><!-- end container-center -->
</section>