
<app-header-one [sticky]="true"></app-header-one>
<app-breadcrumb [title]="''" [breadcrumb]="productname"></app-breadcrumb>
<!-- section start -->
<!-- <section>
    <button (click)="refreshData()">Refresh</button>
    <div class="col-grid-box">{{products | json }}}</div>
</section> -->
<!-- *ngIf="loader" -->
<section class="section-b-space"  *ngIf="loader">
    <div class="collection-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="collection-filter" [class.openFilterbar]="mobileSidebar">
                        <!-- side-bar colleps block stat -->
                        <div class="collection-filter-block" style="display: none;">
                            <div class="collection-mobile-back" (click)="toggleMobileSidebar()">
                                <span class="filter-back">
                                    <i class="fa fa-angle-left" aria-hidden="true"></i> back
                                </span>
                            </div>
                            <!-- Category filter start -->
                            <!-- <app-categories></app-categories> -->
                        </div>
          
                        <div *ngIf="filterCollection.length > 0" class="collection-filter-block">
                        
                            <ng-container  *ngFor="let dynamicFilter of filterCollection">
                                <app-colors [products]="products" [key]="dynamicFilter" [colors]="colors" (colorsFilter)="updateFilter($event)">
                                </app-colors>
                            </ng-container>
                            
                            <!-- <ng-container  *ngFor="let dynamicFilter of filterCollection">
                                <app-colors [products]="dynamicFilter" [currentproducts]="products" [key]="dynamicFilter.attribute" [colors]="colors" (colorsFilter)="updateFilter($event)">
                                </app-colors>
                            </ng-container> -->


                            <!-- size filter start here -->
                            <!-- <app-size [products]="products" [size]="size" (sizeFilter)="updateFilter($event)">
                            </app-size> -->
                            <!-- price filter start here -->
                            <!-- <app-price [min]="minPrice" [max]="maxPrice" (priceFilter)="updateFilter($event)">
                            </app-price> -->
                        </div>
                   
                        <!-- side-bar banner end here -->
                    </div>
                </div>
                <div class="collection-content col">
                    <div class="page-main-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- <div class="top-banner-wrapper">
                                    <a [routerLink]="['/collection/left/sidebar']">
                                        <img src="assets/images/collection-banner.jpg" class="img-fluid " alt="">
                                    </a>
                                </div> -->
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="filter-main-btn" (click)="toggleMobileSidebar()">
                                            <span class="filter-btn btn btn-theme">
                                                <i class="fa fa-filter" aria-hidden="true"></i> Filter
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <ul class="product-filter-tags">
                                    <li class="mr-1" *ngFor="let tag of tags">
                                        <a href="javascript:void(0)" class="filter_tag">
                                            {{tag}} <i class="ti-close" (click)="removeTag(tag)"></i>
                                        </a>
                                    </li>
                                    <li class="clear_filter" *ngIf="tags.length > 0">
                                        <a href="javascript:void(0)" class="clear_filter" (click)="removeAllTags()">
                                            Clear all
                                        </a>
                                    </li>
                                </ul>
                                <div class="collection-product-wrapper" id="products">
                                    <app-grid [products]="products" [paginate]="paginate" [layoutView]="layoutView" [productInfo]="productname" [sortBy]="sortBy" (setGrid)="updateGridLayout($event)" (setLayout)="updateLayoutView($event)" (sortedBy)="sortByFilter($event)">
                                    </app-grid>
                                    <div class="product-wrapper-grid" [ngClass]="layoutView">
                                        <!-- -->
                                        <div class="row"  infiniteScroll [infiniteScrollDistance]="0.1" (scrolled)="onScroll()">
                                            <div class="col-grid-box" [ngClass]="grid" *ngFor="let product of products">
                                                <div class="product-box">
                                                    <!-- {{product | json}} -->
                                                    <app-product-box-one [product]="product" [currency]="productService?.Currency" [thumbnail]="false" [cartModal]="true" [loader]="true" [segmentView] ="false">
                                                    </app-product-box-one>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 text-center section-b-space mt-5 no-found" *ngIf="!products.length">
                                                <img src="assets/images/empty-search.jpg" class="img-fluid mb-4">
                                                <h3>Sorry! Couldn't find the product you were looking For!!! </h3>
                                                <p>Please check if you have misspelt something or try searching with other words.</p>
                                                <a [routerLink]="['/collection/left/sidebar']" class="btn btn-solid">continue shopping</a>
                                            </div>
                                        </div>
                                    </div>
                                    <app-pagination [products]="products" [paginate]="paginate" (setPage)="setPage($event)">
                                    </app-pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer-one></app-footer-one>
<!-- <div class="typography-box">
    <div class="typo-content loader-typo">
        <div class="pre-loader"></div>
    </div>
</div> -->
<!-- section End -->