.product-right .size-box ul li{
    height: auto;
    width: auto;
    padding: 5px;
    border-radius: 6%;
}
.table { border-collapse: separate}

.product-slick.sub {
    width: 60%;
}

@media (max-width: 991px) {
    .product-right .border-product table,  {
    text-align: left;
    }

}