.help-block {
color: red;margin-top: -25px;
position: relative;
}

.register-page .theme-card .theme-form select {
    border-color: #dddddd;
    font-size: 12px;
    padding: 8px 12px;
    margin-bottom: 30px;
    height: inherit;
}