@media screen and (min-width:738px) {
.verifications-options {
    // display: flex;
}
}

.commentes
{
    font-size: 0.8em;
    padding-left: 11px;
    font-style: italic;
}

.lable-nav {
    padding-top: 10px;
}
.fa-cloud-upload:before {
    padding-right: 5px;
}