<!-- <app-breadcrumb [title]="'Forget Password'" [breadcrumb]="'Forget Password'"></app-breadcrumb> -->
<app-breadcrumb [title]="'KYC'" [breadcrumb]="'KYC'"></app-breadcrumb>
<!--Section ends-->
<section class="section-b-space">
  <div class="container padding-cls">
    <button class="mt-1 mb-5 btn btn-primary btn-block btn-lg rounded"> KYC Status : {{KYCStatus}}</button>
  </div>
  <div class="container padding-cls" *ngIf='!isKYCVerified'>
    <div class="checkout-page">
      <div class="checkout-form">
        <div class="checkout-title">
          <h3>Business Registration Documents</h3>
          <p>
            KYC Completion is very simple and hassle-free process.
          </p>
          <p>
            Select any one of your valid registration documents and upload it. Please be ready with scanned/
            photographed document copy.
          </p>


        </div>
        <form [formGroup]="kycForm" (submit)="updateKYC()">

          <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
              <div class="form-group verifications-options">
                <!-- <label for="gender">Gender:</label> -->
                <div>
                  <input id="GSTIN" type="radio" #GSTIN value="GSTIN" name="verificationType"
                    formControlName="verificationType">
                  <label style="padding-left: 5px;" for="GSTIN">GSTIN <span class="commentes"
                      style="color: red;">Instant
                      Verification</span></label>
                </div>
                <hr>
                <div>
                  <input id="businessPan" class="commentes" type="radio" #businessPan value="businessPan"
                    name="verificationType" formControlName="verificationType">
                  <label style="padding-left: 5px;" for="businessPan">Business Pan Card
                    <span class="commentes" style="color: red;">Instant Verification</span></label>
                </div>
                <hr>
                <div>
                  <input id="Aadhar" type="radio" #aadhar value="Aadhar" name="verificationType"
                    formControlName="verificationType">
                  <label style="padding-left: 5px;" l for="Aadhar"> Udyog Aadhar Card
                    <span class="commentes" style="color: red;">Instant Verification</span></label>
                </div>
                <hr>
                <div>
                  <input id="shopPic" type="radio" #shopPic value="shopPic" name="verificationType"
                    formControlName="verificationType">
                  <label style="padding-left: 5px;" l for="shopPic"> Shop Details </label>
                  <span class="commentes" style="color: #777777;">Shop Name Board with Mobile Number (Clearly Visible)
                    and Other Shop Pictures and Details </span>
                </div>
                <hr>

                <!-- <div *ngIf="f.gender.touched || submitted && f.gender.invalid" class="alert alert-danger">
            <div *ngIf="f.gender.errors.required">Name is required.</div>
            </div> -->
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
              <div *ngIf="GSTIN.checked" class="row gstin" [formGroup]="getDetailsForm">
                <h3 class="mb-4">Fill your GSTIN Details:</h3>
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                  <div class="field-label">Enter GSTIN Number *</div>
                  <div>Please enter valid values as this will be used for automated verification</div>
                  <input type="text" formControlName="gstno" name="field-name" value="" placeholder="Enter GSTIN">
                  <div class="help-block"
                    *ngIf="(!getDetailsForm.get('gstno').valid && (getDetailsForm.get('gstno').dirty || getDetailsForm.get('gstno').touched))">
                    <span style="color: red;" *ngIf="getDetailsForm.get('gstno').errors['required']">GSTIN is required
                    </span>
                  </div>
                </div>

                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                  <div class="field-label">Enter Name [As Per GSTIN Registration Document]*</div>
                  <div>Please enter valid values as this will be used for automated verification </div>
                  <input type="text" formControlName="gstCompanyName" name="field-name" value=""
                    placeholder="Enter Company name">
                  <div class="help-block"
                    *ngIf="!getDetailsForm.get('gstCompanyName').valid && getDetailsForm.get('gstCompanyName').touched || submitted">
                    <span style="color: red;" *ngIf="getDetailsForm.get('gstCompanyName').errors['required']">Company
                      name is required </span>
                  </div>
                </div>

                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                  <div class="field-label">Enter your Business Address *</div>
                  <textarea type="text" rows="4" cols="50" formControlName="gstCompanyAddress" name="field-name"
                    value="" placeholder="Enter Company Address"></textarea>
                  <div class="help-block"
                    *ngIf="!getDetailsForm.get('gstCompanyAddress').valid && getDetailsForm.get('gstCompanyAddress').touched || submitted">
                    <span style="color: red;" *ngIf="getDetailsForm.get('gstCompanyAddress').errors['required']">Address
                      is required </span>
                  </div>
                </div>


                <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding: 14px;">
                  <div class="field-label">Upload GSTIN Document* </div>
                  <div>List of accepted format, PD, PNG... </div>
                  <div class="avatar">
                    <div class="avatar-preview">
                      <img class="rounded" [src]="gstImage" *ngIf="gstImage" alt="Preview" height="150px"
                        width="150px" />
                    </div>

                    <div class="avatar-edit">
                      <input formControlName="gstImg" style="display: none;" type='file' id="imageUpload"
                        accept=".png, .jpg, .jpeg" #fileInput (change)="setGstImg($event)" />
                    </div>

                  </div>
                  <label style="margin: 5px;" class="lable-nav fa fa-cloud-upload" (click)="fileInput.click()">Upload
                    Document</label>

                  <div class="help-block"
                    *ngIf="(!getDetailsForm.get('gstImg').valid && getDetailsForm.get('gstImg').touched || submitted)">
                    <span style="color: red;" *ngIf="getDetailsForm.get('gstImg').errors['required']">Image is required
                    </span>
                  </div>
                </div>
              </div>

              <div *ngIf="businessPan.checked" class="row pan" [formGroup]="panDetailsForm">
                <h3 class="mb-4">Fill your Business PAN Card Details:</h3>
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                  <div class="field-label">Enter Business PAN Card Number* </div>
                  <div> Please enter valid values as this will be used for automated verification. </div>
                  <input type="text" formControlName="panNo" name="field-name" value="" placeholder="Pan Number">
                </div>

                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                  <div class="field-label">Enter Name [As Per Business PAN Card]* </div>
                  <div>Please enter valid values as this will be used for automated verification</div>
                  <input type="text" formControlName="panCompanyName" name="field-name" value=""
                    placeholder="Enter Company name">
                </div>

                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                  <div class="field-label">Enter your Business Address* </div>
                  <textarea type="text" rows="4" formControlName="panCompanyAddress" name="field-name" value=""
                    placeholder="Enter Company Address"></textarea>
                </div>

                <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding: 14px;">
                  <div class="field-label">Upload Business PAN Card Document* </div>
                  <div>List of accepted format, PD, PNG... </div>
                  <div class="avatar">
                    <div class="avatar-preview">
                      <img class="rounded" [src]="panImage" *ngIf="panImage" alt="Preview" height="150px"
                        width="150px" />
                    </div>

                    <div class="avatar-edit">
                      <input style="display: none;" formControlName="panImg" type='file' id="imageUpload"
                        accept=".png, .jpg, .jpeg" #panInput (change)="panImg($event)" />
                    </div>

                  </div>
                  <label style="margin: 5px;" class="lable-nav fa fa-cloud-upload" (click)="panInput.click()">Upload
                    Image</label>
                </div>
              </div>

              <div *ngIf="aadhar.checked" class="row aadhar" [formGroup]="aadharDetailsForm">
                <h3 class="mb-4">Fill your Udyog Aadhar Card Details</h3>
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                  <div class="field-label">Enter Udyog Aadhar Card Number* </div>
                  <div> Please enter valid values as this will be used for automated verification. </div>
                  <input type="text" formControlName="aadharNo" name="field-name" value=""
                    placeholder="aadharNo Number">
                </div>

                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                  <div class="field-label">Enter Company Name *</div>
                  <input type="text" formControlName="aadharCompanyName" name="field-name" value=""
                    placeholder="Enter Company name">
                </div>

                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                  <div class="field-label">Enter your Business Address* </div>
                  <textarea rows="4" type="text" formControlName="aadharCompanyAddress" name="field-name" value=""
                    placeholder="Enter Company Address"></textarea>
                </div>

                <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding: 14px;">
                  <div class="field-label">Upload Udyog Aadhar Card Document* </div>
                  <div>List of accepted format, PD, PNG... </div>
                  <div class="avatar">
                    <div class="avatar-preview">
                      <img class="rounded" [src]="aadharImage" *ngIf="aadharImage" alt="Preview" height="150px"
                        width="150px" />
                    </div>

                    <div class="avatar-edit">
                      <input style="display: none;" formControlName="aadharImg" type='file' id="imageUpload"
                        accept=".png, .jpg, .jpeg" #aadharInput (change)="cImg($event,'aadharImage')" />
                    </div>

                  </div>
                  <label style="margin: 5px;" type="submit" class="lable-nav fa fa-cloud-upload"
                    (click)="aadharInput.click()">Upload
                    Image</label>
                </div>
              </div>

              <div *ngIf="shopPic.checked" class="row shop" [formGroup]="shopDetailsForm">
                <h3 class="mb-4">Upload Shop Picture:</h3>
                <div class="form-group col-md-12 col-sm-12 col-xs-12">

                  <div class="field-label">Enter Company Name *</div>
                  <input type="text" formControlName="shopCompanyName" name="field-name" value=""
                    placeholder="Enter Company name">
                </div>



                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                  <div class="field-label">Upload Shop’s Name Board*</div>
                  <div>Picture Shop Name Board with Mobile Number (Clearly Visible) is mandatory. Upload clear and high
                    resolution images.</div>
                  <input style="display: none;" type="text" formControlName="shopImg" name="field-name" value=""
                    placeholder="">

                  <div class="avatar">
                    <div class="avatar-preview">
                      <img class="rounded" [src]="shopImage" *ngIf="shopImage" alt="Preview" height="150px"
                        width="150px" />
                    </div>

                    <div class="avatar-edit">
                      <input style="display: none;" type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #shopInput
                        (change)="cImg($event,'shopImage1')" />
                    </div>

                  </div>
                  <label style="margin: 5px;" class="lable-nav fa fa-cloud-upload" (click)="shopInput.click()">Upload
                    Image</label>
                </div>

                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                  <div class="field-label">Upload Other Shop Pictures *</div>
                  <div>List of accepted format, JPEG, PNG. Upload clear and high resolution images.</div>
                  <input style="display: none;" type="text" formControlName="shopImg1" name="field-name" value=""
                    placeholder="">

                  <div class="avatar">
                    <div class="avatar-preview">
                      <img class="rounded" [src]="shopImage2" *ngIf="shopImage2" alt="Preview" height="150px"
                        width="150px" />
                    </div>

                    <div class="avatar-edit">
                      <input style="display: none;" type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #shopInput2
                        (change)="cImg($event,'shopImage2')" />
                    </div>

                  </div>
                  <label style="margin: 5px;" class="lable-nav fa fa-cloud-upload" (click)="shopInput2.click()">Upload
                    Image(1)</label>

                  <div class="avatar">
                    <div class="avatar-preview">
                      <img class="rounded" [src]="shopImage3" *ngIf="shopImage3" alt="Preview" height="150px"
                        width="150px" />
                    </div>

                    <div class="avatar-edit">
                      <input style="display: none;" type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #shopInput3
                        (change)="cImg($event,'shopImage3')" />
                    </div>

                  </div>
                  <label style="margin: 5px;" class="lable-nav fa fa-cloud-upload" (click)="shopInput3.click()">Upload
                    Image(2)</label>
                </div>

                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                  <div class="field-label">Enter your Business Address *</div>
                  <textarea type="text" rows="4" formControlName="shopCompanyAddress" name="field-name" value=""
                    placeholder="Enter Company Address"></textarea>
                </div>
              </div>

            </div>
          </div>
        </form>
      </div>
      <ng-container *ngIf="GSTIN.checked || businessPan.checked || aadhar.checked || shopPic.checked">
        <button (click)="updateKYC()" style=" margin-left: 50%;transform: translateX(-50%); border-radius: 40px;"
          class="btn btn-primary">Proceed</button>
      </ng-container>
      <!-- [disabled]="!kycForm.valid" -->
    </div>
  </div>
  <div class="container padding-cls" *ngIf='isKYCVerified'>
    <i class="fa fa-check-circle-o" style="font-size: 135px;color: green;display: flex;justify-content: center;"></i>
  </div>
</section>