<app-breadcrumb [title]="'Order Details'" [breadcrumb]="'Order Details'"></app-breadcrumb>
<!-- section start -->
<section class="wishlist-section section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <table *nfIf="isWishlist" class="table cart-table table-responsive-xs">
                    <thead>
                        <tr class="table-head">
                            <th scope="col">image</th>
                            <th scope="col">product name</th>
                            <th scope="col">price</th>
                            <th scope="col">availability</th>
                            <th scope="col">action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <a [routerLink]="['/shop/product/left/sidebar/trim-dress']">
                                    <img src="assets/images/product/fashion/1.jpg" alt="fashion">
                                </a>
                            </td>
                            <td><a [routerLink]="['/shop/product/left/sidebar/trim-dress']">cotton shirt</a>
                                <div class="mobile-cart-content row">
                                    <div class="col-xs-3">
                                        <p>in stock</p>
                                    </div>
                                    <div class="col-xs-3">
                                        <h2 class="td-color">$63.00</h2>
                                    </div>
                                    <div class="col-xs-3">
                                        <h2 class="td-color">
                                            <a [routerLink]="['/shop/product/left/sidebar/trim-dress']"
                                                class="icon mr-1">
                                                <i class="ti-close"></i>
                                            </a>
                                            <a [routerLink]="['/shop/product/left/sidebar/trim-dress']" class="cart">
                                                <i class="ti-shopping-cart"></i>
                                            </a>
                                        </h2>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h2>$63.00</h2>
                            </td>
                            <td>
                                <p>in stock</p>
                            </td>
                            <td>
                                <a [routerLink]="['/shop/product/left/sidebar/trim-dress']" class="icon mr-3">
                                    <i class="ti-close"></i>
                                </a>
                                <a [routerLink]="['/shop/product/left/sidebar/trim-dress']" class="cart">
                                    <i class="ti-shopping-cart"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="table cart-table table-responsive-xs">
                    <thead>
                        <tr class="table-head">
                            <th scope="col">Date</th>
                            <th scope="col">Order ID</th>
                            <th scope="col">Status</th>
                            <th scope="col">Total Amount</th>
                            <th scope="col">Payment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let order of orderDetails">
                            <td>
                                {{ order.order_date | date: 'dd/MM/yyyy' }}
                            </td>
                            <td (click)="getDetails(order.order_id)">
                                {{ order.order_no }}
                            </td>
                            <td>
                                {{ order.order_status_text }}
                            </td>

                            <td>
                                {{order.total}}
                            </td>
                            <td>
                                <ng-container *ngIf="order.payment_status==0">
                                    <a class="btn btn-success" style="color: white;"
                                        href="https://stage.ostaapp.com/paymentGateway/">Pay Now</a>
                                </ng-container>
                                <ng-container *ngIf="order.payment_status==1">
                                    <a class="btn btn-success" style="color: white;">Paid</a>
                                </ng-container>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- <div class="row wishlist-buttons">
            <div class="col-12">
                <a [routerLink]="['/shop/collection/left/sidebar']" class="btn btn-solid">continue shopping</a>                
            </div>
        </div> -->
    </div>
</section>

<div *ngIf="showPopup" _ngcontent-serverapp-c54="" id="search-overlay" class="search-overlay" style="display: block;">
    <div _ngcontent-serverapp-c54=""><span _ngcontent-serverapp-c54="" title="Close Overlay" (click)="toggle()" class="closebtn">×</span>
        <div _ngcontent-serverapp-c54="" class="overlay-content">
            
            <div _ngcontent-serverapp-c54="" class="container">
                <div _ngcontent-serverapp-c54="" >
                    <div _ngcontent-serverapp-c54="" class="col-xl-12">
                        <div  class="col-sm-12">
                            <div class="row" style="
                            margin: 0;
                            padding: 10px;
                            font-size: 20px;
                            font-weight: 700;
                        ">Order Details</div>
                            <table  class="table cart-table table-responsive-xs">
                                <thead >
                                    <tr  class="table-head">
                                        <th  scope="col">Image</th>
                                        <th  scope="col">Product</th>
                                        <th  scope="col">Size</th>
                                        <th  scope="col">QTY</th>
                                        <th  scope="col">Price</th>
                                        <th  scope="col">GST</th>
                                        <th  scope="col">Total</th>
                                        <!-- <th  scope="col">action</th> -->
                                    </tr>
                                </thead>
                                <tbody >
                                    <tr *ngFor="let orderDetail of orderCollection">
                                        <td >
                                            <a>
                                                <img  style="
                                                height: 50px;
                                            " [src]="orderDetail.image_url" alt="yellow"></a>
                                        </td>
                                        <td >
                                            <a> {{orderDetail.product_name}} </a>
                                        </td>
                                        <td > {{orderDetail.size}} </td>
                                        <td > {{orderDetail.quantity}} </td>
                                        <td > {{orderDetail.price}} </td>
                                        <td > {{orderDetail.tax}} % </td>
                                        <td > {{orderDetail.total}} </td>
                                       
                                    </tr>
                                </tbody>
                          
                                <!--bindings={
                          "ng-reflect-ng-for-of": "[object Object],[object Object"
                        }-->
                            </table>
                        </div>
                        <!-- <form _ngcontent-serverapp-c54="" novalidate="" class="ng-untouched ng-pristine ng-valid">
                            <div _ngcontent-serverapp-c54="" class="form-group">
                                 <input _ngcontent-serverapp-c54=""
                                    type="text" id="exampleInputPassword1" placeholder="Search a Product"
                                    class="form-control"></div><button _ngcontent-serverapp-c54="" type="submit"
                                class="btn btn-primary"><i _ngcontent-serverapp-c54=""
                                    class="fa fa-search"></i></button>
                        </form> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--section end-->