<app-breadcrumb [title]="'Profile'" [breadcrumb]="'Profile'"></app-breadcrumb>
<!-- personal deatail section start -->
<section class="contact-page register-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>PERSONAL DETAIL</h3>
                <form class="theme-form" [formGroup]="SignupForm" style="padding: 14px;" (ngSubmit)="onSubmit()">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="buyer_name">Buyer Name</label>
                            <input type="text" class="form-control" id="username" formControlName="buyer_name"
                                placeholder="Buyer Name">
                            <div class="help-block"
                                *ngIf="!SignupForm.get('buyer_name').valid&&SignupForm.get('buyer_name').touched">
                                <span style="color: red;"
                                    *ngIf="SignupForm.get('buyer_name').errors['required']">Buyer name is
                                    required</span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="company_name">Company Name</label>
                            <input type="text" class="form-control" id="company_name" formControlName="company_name"
                                placeholder="Company Name" disabled>
                            <div class="help-block"
                                *ngIf="!SignupForm.get('company_name').valid&&SignupForm.get('company_name').touched">
                                <span style="color: red;"
                                    *ngIf="SignupForm.get('company_name').errors['required']">Company name is
                                    required</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="username">Mobile</label>
                            <input type="number" class="form-control" id="mobile_number" formControlName="mobile_number"
                                placeholder="Mobile">
                            <div class="help-block"
                                *ngIf="!SignupForm.get('mobile_number').valid&&SignupForm.get('mobile_number').touched">
                                <span style="color: red;" *ngIf="SignupForm.get('mobile_number').errors['required']">Mobile number required</span>
                                    <span style="color: red;" *ngIf="SignupForm.get('mobile_number').errors['pattern']">Enter 10 digit Mobile Number</span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" formControlName="email_id"
                                placeholder="Email">
                            <div style="color: red;" class="help-block"
                                *ngIf="!SignupForm.get('email_id').valid && SignupForm.get('email_id').touched">
                                 Enter valid email id
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="username">State</label>
                            <input  type="text" class="form-control" id="state" formControlName="state"
                                placeholder="state">
                          
                                
                            <div class="help-block"
                                *ngIf="!SignupForm.get('state').valid&&SignupForm.get('state').touched">
                                <span style="color: red;" *ngIf="SignupForm.get('state').errors['required']">State
                                    is required
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="username">City</label>
                            <input  type="text" class="form-control" id="company_name" formControlName="city"
                                placeholder="city">
                    
                            <div class="help-block"
                                *ngIf="!SignupForm.get('city').valid&&SignupForm.get('city').touched">
                                <span style="color: red;" *ngIf="SignupForm.get('city').errors['required']">City is
                                    required</span>
                            </div>
                        </div>

                    </div>

                    <div class="form-row">
                        
  
                        <div class="col-md-6">
                            <label for="username">Area</label>
                            <input type="textArea" class="form-control" id="area" formControlName="area" placeholder="area">
                            <div class="help-block" *ngIf="!SignupForm.get('area').valid&&SignupForm.get('area').touched">
                                <span style="color: red;" *ngIf="SignupForm.get('area').errors['required']">area is
                                    required</span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="username">Pincode</label>
                            <input type="textArea" class="form-control" id="pincode" formControlName="pincode" placeholder="pincode">
                            <div class="help-block" *ngIf="!SignupForm.get('pincode').valid&&SignupForm.get('pincode').touched">
                                <span style="color: red;" *ngIf="SignupForm.get('pincode').errors['required']">pincode is
                                    required</span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="username">Address</label>
                            <textarea type="textArea" class="form-control" id="address" formControlName="address"
                                placeholder="address"></textarea>
                            <div class="help-block"
                                *ngIf="!SignupForm.get('address').valid&&SignupForm.get('address').touched">
                                <span style="color: red;"
                                    *ngIf="SignupForm.get('address').errors['required']">Address is
                                    required</span>
                             </div>
                        </div>
                        <div class="col-md-6">
                            <label for="username">Shipping Address</label>
                            <textarea type="textArea" class="form-control" id="saddress" formControlName="shipping_address"
                                placeholder="Shipping address"></textarea>
                            <div class="help-block"
                                *ngIf="!SignupForm.get('shipping_address').valid&&SignupForm.get('shipping_address').touched">
                                <span style="color: red;"
                                    *ngIf="SignupForm.get('shipping_address').errors['required']">Shipping Address is
                                    required</span>
                             </div>
                        </div>
                    <!-- <div class="col-md-6">
                        <label for="username">Pincode</label>
                        <input type="text" class="form-control" id="pincode" formControlName="pincode"
                            placeholder="pincode">
                        <div class="help-block"
                            *ngIf="!SignupForm.get('pincode').valid&&SignupForm.get('pincode').touched">
                            <span class="help-block" style="color: red;"
                                *ngIf="SignupForm.get('pincode').errors['required']">Pincode is
                                required</span>
                        </div>
                    </div> -->
            </div>

            <!-- <span *ngIf="isError" class="help-block" style="color: red;">
                {{errorMessage}}
            </span> -->
            <button class="btn btn-solid" type="submit" [disabled]="SignupForm.invalid">Update Profile</button>
            </form>
                <!-- <form class="theme-form">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="name">First Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter Your name" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="email">Last Name</label>
                            <input type="text" class="form-control" id="last-name" placeholder="Email" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="review">Phone number</label>
                            <input type="text" class="form-control" id="review" placeholder="Enter your number" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" placeholder="Email" required="">
                        </div>
                        <div class="col-md-12">
                            <label for="review">Write Your Message</label>
                            <textarea class="form-control mb-0" placeholder="Write Your Message" id="exampleFormControlTextarea1" rows="6"></textarea>
                        </div>
                    </div>
                </form> -->
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->
<!-- address section start -->

<!-- shippping details for tracking -->
<!-- <section class="contact-page register-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>SHIPPING ADDRESS</h3>
                <form class="theme-form">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="name">flat / plot</label>
                            <input type="text" class="form-control" id="home-ploat" placeholder="company name" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="name">Address *</label>
                            <input type="text" class="form-control" id="address-two" placeholder="Address" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="email">Zip Code *</label>
                            <input type="text" class="form-control" id="zip-code" placeholder="zip-code" required="">
                        </div>
                        <div class="col-md-6 select_input">
                            <label for="review">Country *</label>
                            <select class="form-control" size="1">
                                <option value="India">India</option>
                                <option value="UAE">UAE</option>
                                <option value="U.K">U.K</option>
                                <option value="US">US</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="review">City *</label>
                            <input type="text" class="form-control" id="city" placeholder="City" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="review">Region/State *</label>
                            <input type="text" class="form-control" id="region-state" placeholder="Region/state" required="">
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-sm btn-solid" type="submit">Save setting</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section> -->
<!-- Section ends -->