<app-breadcrumb [title]="'Why Texvalley B2B'" [breadcrumb]="'Why Texvalley B2B'"></app-breadcrumb>
<!-- section start -->
<section class="section-b-space">
    <section class="container section-b-space">

        <div class="section-title">
            <h2>Why Texvalley B2B?</h2>

        </div>
        <p>To bring together a variety of manufacturers, wholesale representatives, product developers and retail buyers
            in a large-scale, cost-effective setting for the productive exchange of goods and services. All of the
            disadvantages such as distance etc., gets eliminated. It gets a very intensive and comprehensive market
            coverage for almost next to nothing, Herein the business gets very direct between Manufacturers and
            Customers.&nbsp;</p>
        <h3 class="section-t-space"><strong>SELLERS</strong><strong>&nbsp;</strong></h3>
        <!-- <ul> -->
            <p>To help the manufacturers find new business and new customers.</p>
            <p>This activity brings visibility to seller’s business and products they sell to the All over India.</p>
            <p>Gets a very intensive and comprehensive market coverage for almost next to nothing.</p>
            <p>All of the disadvantages such as distance etc., gets eliminated.</p>
            <p>It is in tune with shift that is taking place in the market, since wholesalers don’t visit markets to
                source regular items that are known to them already.</p>
            <p>It is quite easy now to launch their product All over India.</p>
            <p>It is quite easy to convey any new offers, messages etc., to the wholesalers since we are gonna sell all
                over India.</p>
            <!--<p>The Trade booking fair will be conducted by trade promotion to connect wholesalers with Sourcing Managers in the name of &ldquo;Textile &amp; Garments Fair&rdquo;.&nbsp;</p> -->
        <!-- </ul> -->
        <p>&nbsp;</p>
        <h3 class="section-t-space"><strong>BUYERS</strong><strong>&nbsp;</strong></h3>
        <ul>
            <p>It is a dynamic process that takes a break only on Sundays.</p>
            <p>Gets a very intensive and comprehensive market coverage for almost next to nothing.</p>
            <p>Gets to plug into a network of wholesalers which will soon touch over 40,000 by year 2020. An asset that
                is achieved with “0” investments.</p>
            <p>The shop gets an opportunity to get new business by way of new customers.</p>
            <p>The shop gets an opportunity to get both kinds of visitors, Physical and Digital.</p>
            <p>All of the disadvantages such as distance etc., gets eliminated</p>
            <p>Shops save on commissions to agents.</p>
            <p>The business gets very direct between Wholesaler and Buyer.</p>
            <p>This activity generates both physical footprints and digital footprints. In other words, we don’t wait
                for wholesalers to visit us, we rather go there to connect them with the shops via digitally as
                well.&nbsp;</p>
        </ul>
        <p>&nbsp;</p>
        <h3 class="section-t-space"><strong>QUALITY ASSURANCE</strong><strong>&nbsp;</strong></h3>
        <!-- <ul> -->
            <p>Develop, Implement and Manage a Universal Product Standard for each product category</p>
            <p>Develop, Implement and Manage Quality Assurance and Compliance System</p>
            <p>Assisting Vendors in achieving the standards at product level that is compliant with BIS description
            </p>
            <p>To conduct training programmes for vendors and implement factory level programmes wherever and whenever
                requested</p>
            <p>Encourage vendors to adopt quality assurance and compliance procedures in their manufacturing process
            </p>
            <p>Assign rating of standards using frequent inspection and customer feedback</p>
        <!-- </ul> -->
        <p>&nbsp;</p>
        <!-- <h3><strong>DIFFERENCE BETWEEN TRADITIONAL BUSINESS AND B2B BUSINESS</strong><strong>&nbsp;</strong></h3>
    <ul>
    <p>Initially we have to know why we opting our business through B2B and its advantages for both Buyer and seller.&nbsp;</p>
    </ul>
    <p>&nbsp;</p> -->
        <h3 class="section-t-space"><strong>HOW TRADITIONAL BUSINESS WORKS?</strong><strong>&nbsp;</strong></h3>
        <!-- <ul> -->
            <p>In Traditional Business, the buyers come directly to the shops and purchase the products they need.</p>
            <p>They have to spend much time for purchasing different models.</p>
            <p>The Buyer will purchase the product through direct visit and the transaction made immediately where the
                single buyer can meet individual supplier and individual brand</p>
        <!-- </ul> -->
        <p>&nbsp;</p>
        <h3 class="section-t-space"><strong>CREDIT SERVICE IN TRADITIONAL BUSINESS</strong>&nbsp;</h3>
        <!-- <ul> -->
            <p>In case the buyer needs credit-based service, it depends on the supplier to evaluate and provide credit
                as per supplier terms which will be stated in MOU to the buyer.
                After the completion of mutual understanding process between both of them, business will take place.
                The unknown buyers can’t get the benefit of credit service through suppliers immediately through
                Traditional Business process, this is how the traditional business takes place between buyer and
                supplier&nbsp;</p>
        <!-- </ul> -->
        <p>&nbsp;</p>
        <h3 class="section-t-space"><strong>HOW TEXVALLEY B2B BUSINESS WORKS?</strong><strong>&nbsp;</strong></h3>
        <!-- <ul> -->
            <p>The Texvalley B2B works through E-Commerce Platform where a single buyer can able to find N number of
                suppliers at a time.</p>
            <p>The Texvalley B2B will interlink the two unknown strangers into business in single platform with
                multiple Brands.&nbsp;</p>
        <!-- </ul> -->
        <p>&nbsp;</p>
        <h3 class="section-t-space"><strong>TEXVALLEY B2B PROCESS</strong><strong>&nbsp;</strong></h3>
        <!-- <ul> -->
            <p>The Buyer can visit N number of Suppliers with Multiple Brands through our E-Commerce website &amp;
                Mobile Application which consists of variety of branded products and variety of suppliers.</p>
            <p>Our E-commerce portal &amp; Mobile Application contributes the main role in the whole B2B business
                process which helps the buyers to surf multiple brands for individual product with many models and
                multiple suppliers, can also save their time with additional benefits&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
        <!-- </ul> -->
        <p>&nbsp;</p>
        <h3 class="section-t-space"><strong>CREDIT SERVICE IN TEXVALLEY B2B</strong></h3>
        <!-- <ul> -->
            <p>In case the buyer needs credit-based service, the Texvalley B2B enhances the service through the
                assistance of Onboard B2B Management Team where successful business transaction takes place</p>
        <!-- </ul> -->
    </section><!-- end  -->

    <div class="separator-1"></div><!-- end separator -->

 
    <section class="container">

        <div class="container-center">

            <div class="row section-b-space">
                <h2>How does this Engagement Work in three Simple ways</h2>

            </div>

            <div class="col-row animated fadeInUp" data-animation="fadeInUp" style="opacity: 1;">
                <img src="https://neoinfotech.com/texvalleyb2b.in/img/step1.png">

            </div>
            <div class="col-row animated fadeInUp" data-animation="fadeInUp" style="opacity: 1;">
                <img src="https://neoinfotech.com/texvalleyb2b.in/img/step2.png">

            </div>
            <div class="col-row animated fadeInUp" data-animation="fadeInUp" style="opacity: 1;">
                <img src="https://neoinfotech.com/texvalleyb2b.in/img/step3.png">

            </div>

            <!-- end col-row -->

        </div><!-- end container-center -->
    </section><!-- end content -->
    <!-- <section class="container">
        <div class="container-center">
            <div class="section-title align-center">
                <h2>Intensive Reach &amp; Coverage</h2>
            
            </div>
    
            <div class="col-row">
    
                <div class="one-fourth counter">			
                    <span class="timer" data-from="0" data-to="375" data-speed="3000">375</span>
                    <div class="count-type">Markets</div>
                </div>
    
                <div class="one-fourth counter">
                    <span class="timer" data-from="0" data-to="5625" data-speed="3000">5625</span>
                    <div class="count-type">Happy Customers</div>
                </div>
    
                <div class="one-fourth counter">			
                    <span class="timer" data-from="0" data-to="15" data-speed="3000">15</span>
                    <div class="count-type">HQ Teams</div>
                </div>
    
                <div class="one-fourth counter">
                    <span class="timer" data-from="0" data-to="15000" data-speed="3000">15000</span>
                    <div class="count-type">KMs Distance Covered</div>
                </div>
    
            </div>
        </div>
    </section> -->
    <!-- end content -->



</section>
<!-- Section ends -->

<section class="content count">
	<div class="container">
		<div class="row">
			<h2 style="margin: 0 auto;">Intensive Reach &amp; Coverage</h2>
		
		</div>

		<div class="row">

			<div class="one-fourth counter col-sm-12 col-lg-3">			
				<span class="timer" data-from="0" data-to="375" data-speed="3000">375</span>
				<div class="count-type">Markets</div><!-- end count-type -->
			</div>

			<div class="one-fourth counter col-sm-12 col-lg-3">
				<span class="timer" data-from="0" data-to="5625" data-speed="3000">5625</span>
				<div class="count-type">Happy Customers</div><!-- end count-type -->
			</div>

			<div class="one-fourth counter col-sm-12 col-lg-3">			
				<span class="timer" data-from="0" data-to="15" data-speed="3000">15</span>
				<div class="count-type">HQ Teams</div><!-- end count-type -->
			</div>

			<div class="one-fourth counter col-sm-12 col-lg-3">
				<span class="timer" data-from="0" data-to="15000" data-speed="3000">15000</span>
				<div class="count-type">KMs Distance Covered</div><!-- end count-type -->
			</div>

		</div><!-- end col-row -->
	</div><!-- end container-center -->
</section>