div.search-count {
    padding: 10px !important;
}

div.collection-view, div.collection-grid-view, div.product-page-filter , .collection-product-wrapper .product-top-filter .product-filter-content .collection-grid-view {
    padding: 10px !important;
}

.product-page-filter select {
    padding: 0px !important;
}

@media only screen and (min-width: 1400px) {
.product-filter-content .collection-view {
  width: auto;
}
}