.mobile-cart.cart-customized{
    margin-right: 15px;
    padding-left: 10px;
}

li.mobile-cart.cart-customized {
    padding-left: 0px;
}

.onhover-div .show-div {
    top: 60px;
}

.main-menu .menu-right .icon-nav .onhover-div .show-div.shopping-cart li .media img {
    height: 50px !important;
}

.shopping-cart h4, .shopping-cart h4 > span {
 font-size: 12px;
}